@font-face {
  font-family: 'Open Sans';
  src: url('./data/fonts/OpenSans-Regular.woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  overflow: hidden;
}

.slide {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./data/images/slide.png');
}

.wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.sub-wrapper {
  width: 90%;
  max-width: 900px;
  font-family: 'Open Sans', sans-serif;
}

.title {
  line-height: 1.4em;
  color: #2c3c42;
  font-size: 3.4vh;
  padding: 20px;
  margin-bottom: 0;
}

.headline {
  color: #ffffff;
  margin: 0;
  font-size: 18px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.description {
  color: #576267;
  font-size: 2.4vh;
  padding: 15px 0;
  line-height: 1.4em;
}

.btn-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btn {
  border: 1px solid #000000;
  padding: 5px;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  margin: 0 5px;
}

.btn:hover {
  background-color: #000000;
  color: #ffffff;
}

pre {
  background: #f7f7f7;
  margin: 0 0 16px 0;
  padding: 20px;
}

.atn {
  color: #9c27b0;
}

.tag {
  color: #3b78e7;
}

.atv {
  color: #0d904f;
}

@media (max-width: 720px) {
  .title {
    line-height: 1.2em;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
  }

  .description {
    font-size: 14px;
    padding: 5px 0;
    line-height: 1.2em;
  }

  pre { 
    max-width: 90%;
    overflow-x: scroll;
  }
}